<app-header></app-header>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" *ngFor="let element of products">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef>Discount</th>
      <td mat-cell *matCellDef="let element">{{ element.discount }}</td>
    </ng-container>

    <ng-container matColumnDef="merchantname">
      <th mat-header-cell *matHeaderCellDef>Merchant Name</th>
      <td mat-cell *matCellDef="let element">{{ element.merchant_name }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="update operation">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <!-- <td mat-cell *matCellDef="let element">{{ element.symbol }}</td> -->
      <button>Update</button>
    </ng-container>
    <ng-container matColumnDef="delete operation">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <!-- <td mat-cell *matCellDef="let element">{{ element.symbol }}</td> -->
      <button>Delete</button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
  <!-- <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator> -->
</div>
