<app-header></app-header>
<div class="container">
  <form id="contact" (submit)="submitingForm($event)">
    <input
      placeholder="Id"
      type="text"
      tabindex="2"
      required
      (keyup)="changeId($event)"
      value="{{ product.id }}"
    />
    <input
      placeholder="Product Name"
      type="text"
      tabindex="1"
      required
      autofocus
      (keyup)="changeName($event)"
      value="{{ product.name }}"
    />
    <input
      placeholder="Merchant Name"
      type="text"
      tabindex="2"
      required
      (keyup)="changeMerchant($event)"
      value="{{ product.merchant_name }}"
    />
    <input
      placeholder="Description"
      type="text"
      tabindex="3"
      required
      (keyup)="changeDescription($event)"
      value="{{ product.description }}"
    />
    <input
      placeholder="Price"
      type="text"
      tabindex="4"
      required
      (keyup)="changePrice($event)"
      value="{{ product.price }}"
    />
    <input
      placeholder="Discount"
      type="text"
      tabindex="3"
      (keyup)="changeDiscount($event)"
      value="{{ product.discount }}"
    />
    <input
      placeholder="Quantity"
      type="text"
      tabindex="4"
      (keyup)="changeQuantity($event)"
      required
      value="{{ product.quantity }}"
    />
    <div class="button-div">
      <button class="submit-button" type="button" [routerLink]="['/products']">Cancle</button>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
