.og-contianer {
  margin: auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background: #1c1f21 !important;
  padding: 30px;
  width: 100%;
}
.section {
  text-align: right;
}
.arrows{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: tomato;
  font-size: 30px;
}
.text1{
  margin-bottom: 25px;
  color: white;
}
.select-limit{
  margin-left: 15px;
}
.arrows-div{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 40px;
}
.arr{
  cursor: pointer;
  background-color: white;
  margin-left: 10px;
}
.text2{
  color: white !important;
}
select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.og-row {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
}
.og-row select {
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #222629;
  background-color: #222629;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.text-center {
  text-align: center;
}
.og-li {
  border-bottom: 1px solid #3e4042;
  color: #fff;
  font-size: 18px;
}
og-li-col {
  padding: 0px 10px;
}
.og-li-col-1 {
  width: 5%;
}
.og-li-col-2 {
  width: 15%;
}
.og-li-col-3 {
  width: 13%;
}
.og-li-col-4 {
  width: 13%;
}
.og-li-col-5 {
  width: 13%;
}
.og-li-col-6 {
  width: 15%;
}
.og-li-col-7 {
  width: 13%;
}
.og-li-col-8 {
  width: 13%;
}
.og-li-head {
  font-size: 20px;
  font-weight: 700;
}
.hide {
  display: none;
}

@media all and (max-width: 992px) {
  .text {
    font-size: 13px;
  }
}
@media all and (max-width: 450px) {
  .text {
    font-size: 9px;
  }
}
@media all and (max-width: 300px) {
  .text {
    font-size: 5px;
  }
}
.videosDiv1 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button6 {
  background-color: #00306e;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 34px;
  width: 110px;
  border-width: 0px;
  color: white;
}
.img10 {
  width: 400px;
}
