.pagintion-table{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.section {
    align-self: flex-end;
    margin-right: 20px;
    
  }