<app-header></app-header>
<div class="container">  
  <!-- action="" method="post" -->
    <form id="contact" (submit)="submitingForm(product,merchant,description,price,discount,quantity,$event)" >
      <fieldset>
        <input #product placeholder="Product Name" (keyup)="change($event)" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input #merchant placeholder="Merchant Name" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input #description placeholder="Description" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input #price placeholder="Price" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <input #discount placeholder="Discount" type="text" tabindex="4"
        >
      </fieldset>
      <fieldset>
        <input #quantity placeholder="Quantity" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <button  type="submit">Submit</button>
      </fieldset>
    </form>
  </div>