
    <div class="container">
      <div class="top-header">
        <h3>Welcome back</h3>
        <p>Enter your credentials to access your account</p>
      </div>
      <form action="">
        <div class="user">
          <i class="bx bxs-user-circle"></i>
          <input type="text" placeholder="Enter your username" />
        </div>
        <div class="pass">
          <i class="bx bxs-lock-alt"></i>
          <input type="password" placeholder="Enter your password" />
        </div>
      </form>
      <div class="btn">
        <button>Sign in</button>
      </div>
    </div>
    <p class="last">Forgot your password? <a href="#"> Reset Password </a></p>
    <script src="/app.js"></script>
 