<div>
    <header id="site-header">
      <div id="site-header-container">
        <div id="site-header-logo">
          
        </div>
        <input
          type="checkbox"
          class="toggleSideMenu"
          id="toggleSideMenu"
          autocomplete="off"
        />
        <label for="toggleSideMenu" class="hamburger-icon">
          <div class="hamburger-menu-line diagonal-1"></div>
          <div class="hamburger-menu-line horizontal"></div>
          <div class="hamburger-menu-line diagonal-2"></div>
        </label>
        <div id="side-menu-container">
          <div id="before-side-menu">
            <span>Content before main menu</span>
          </div>
          <nav id="top-menu">
            <ul id="main-menu">
              <li class="main-menu-item">
                <a href="/products">Products</a>
              </li>
              <li class="main-menu-item">
                <a href="/create_product">Create Product</a>
              </li>
              <li class="main-menu-item">
                <a href="/update_product">
                  Update Product
                </a>
              </li>
            </ul>
          </nav>
          <div></div>
        </div>
        <div id="site-header-search">
          <div id="site-header-search-container">
            <div class="product-h1">
              <span>Product Management</span>
            </div>
            <form autocomplete="on">
              <input
                type="text"
                id="search"
                name="search"
                placeholder="Search based on product name ..."
              />
              <button id="search_submit" type="button">
                <img
                  class="icon-header"
                  src="https://img.icons8.com/ios-glyphs/20/666666/search--v1.png"
                />
              </button>
            </form>
          </div>
        </div>
        <div id="site-header-auth-container">
          <button
            id="site-header-login-button"
            class="site-header-auth-button"
          >
            <i class="icon-logout">
              <img
                class="icon-header"
                src="https://img.icons8.com/ios-filled/18/666666/login-rounded-right.png"
              />
            </i>
            <span class="span-log">Log out</span>
          </button>
        </div>
      </div>
    </header>
  </div>
  