<app-header></app-header>
<div class="og-contianer mt-5 main">
  <div class="section">
    <select (change)="changeSelect($event)">
      <option value="ASC">Price (Low - High)</option>
      <option value="DESC">Price (High - Low)</option>
    </select>
  </div>
  <div class="og-row og-li og-li-head text">
    <div class="og-li-col og-li-col-3">Name</div>
    <div class="og-li-col og-li-col-3 text-center text">Description</div>
    <div class="og-li-col og-li-col-3 text-center text">Price</div>
    <div class="og-li-col og-li-col-3 text-center text">Discount</div>
    <div class="og-li-col og-li-col-3 text-center text">Merchant Name</div>
    <div class="og-li-col og-li-col-3 text-center text">Quantity</div>
    <div class="og-li-col og-li-col-3 text-center text">Operations</div>
  </div>
  <div>
    <div class="data-row og-row og-li Experienced Engineering 7.3 Ready to hire Andhra Pradesh Yes" *ngFor="let element of products">
        <div class="og-li-col og-li-col-3 text">{{element.name}}</div>
        <div class="og-li-col og-li-col-3 text-center text">
            {{element.description}}
        </div>
        <div class="og-li-col og-li-col-3 text-center text">
            Rs {{element.price}}/-
        </div>
        <div class="og-li-col og-li-col-3 text-center text">
            Rs {{element.discount}}/-
        </div>
        <div class="og-li-col og-li-col-3 text-center text">
            {{element.merchant_name}}
        </div>
        <div class="og-li-col og-li-col-3 text-center text">
            {{element.quantity}}
        </div>
        <div class="flex og-li-col og-li-col-3">
            <button class="update-button"[routerLink]="['/update_product']" [state]="{element}">Update</button>
          
          <!-- <AlertDialogSlide callback = {this.deleteApiCall}/> -->
          <button class="delete-button" (click)="deleteApiCall(element.id)">
            Delete
          </button>
        </div>
      </div>
  </div>
  <div class="arrows">
    <span class="text text1">Rows Per Page</span>
    <select class="select-limit" (change)="selectLimitChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    <div class="arrows-div">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-left main-arrow arr-div" viewBox="0 0 16 16" (click)="onClickLeftArrow()">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
      <span className="text text2">{{activePage}} of {{dataLength}}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-right main-arrow" viewBox="0 0 16 16" (click)="onClickRightArrow()">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </div>
</div>
