.og-contianer {
    margin: auto;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background: #1c1f21 !important;
    width: 100%;
    margin-top: 400px;
  }
  .main{
      margin-top: 200px;
  }
  .section {
    text-align: right;
  }
  .arrows{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: tomato;
    font-size: 30px;
  }
  .text1{
    margin-bottom: 25px;
    color: white;
  }
  .select-limit{
    margin-left: 15px;
    font-size: 20px;
    width: 200px;
  }
  .main-arrow{
    font-size: 20px;
    cursor: pointer;
    border: white 1px solid;
    padding: 1px;
    margin-left: 10px;
  }
  .arrows-div{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 40px;
    
  }
  .arr-div{
    margin-right: 10px;
  }
  .arr{
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
  }
  .text2{
    color: white !important;
  }
  select {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .og-row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
  }
  .og-row select {
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #222629;
    background-color: #222629;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .text-center {
    text-align: center;
  }
  .og-li {
    border-bottom: 1px solid #3e4042;
    color: #fff;
    font-size: 18px;
  }
  og-li-col {
    padding: 0px 10px;
  }
  .og-li-col-1 {
    width: 5%;
  }
  .og-li-col-2 {
    width: 15%;
  }
  .og-li-col-3 {
    width: 13%;
  }
  .og-li-col-4 {
    width: 13%;
  }
  .og-li-col-5 {
    width: 13%;
  }
  .og-li-col-6 {
    width: 15%;
  }
  .og-li-col-7 {
    width: 13%;
  }
  .og-li-col-8 {
    width: 13%;
  }
  .og-li-head {
    font-size: 20px;
    font-weight: 700;
  }
  .hide {
    display: none;
  }
  
  @media all and (max-width: 992px) {
    .text {
      font-size: 13px;
    }
  }
  @media all and (max-width: 450px) {
    .text {
      font-size: 9px;
    }
  }
  @media all and (max-width: 300px) {
    .text {
      font-size: 5px;
    }
  }
  .videosDiv1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button6 {
    background-color: #00306e;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 34px;
    width: 110px;
    border-width: 0px;
    color: white;
  }
  .img10 {
    width: 400px;
  }
  .og-contianer {
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background: #1c1f21 !important;
    padding: 30px;
    border-radius: 10px;
  }
  .heading-line {
    display: block;
    padding: 0px 0px 10px 0px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.35s ease;
    border-bottom: 3px solid transparent;
    font-size: 48px;
    color: #fff;
  }
  .heading-line:after {
    display: inline-block;
    background: #efa617;
    content: " ";
    height: 0;
    transition: 0.35s ease;
    bottom: 0;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    left: 0;
    transform: none;
  }
  .og-row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
  }
  .og-row select {
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #222629;
    background-color: #222629;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .text-center {
    text-align: center;
  }
  .og-li {
    border-bottom: 1px solid #3e4042;
    color: #fff;
    font-size: 18px;
  }
  og-li-col {
    padding: 0px 10px;
  }
  .og-li-col-1 {
    width: 5%;
  }
  .og-li-col-2 {
    width: 15%;
  }
  .og-li-col-3 {
    width: 13%;
  }
  .og-li-col-4 {
    width: 13%;
  }
  .og-li-col-5 {
    width: 13%;
  }
  .og-li-col-6 {
    width: 15%;
  }
  .og-li-col-7 {
    width: 13%;
  }
  .og-li-col-8 {
    width: 13%;
  }
  .og-li-head {
    font-size: 20px;
    font-weight: 700;
  }
  .hide {
    display: none;
  }
  .update-button:hover {
    background-color: None;
  }
  
  @media all and (min-width: 992px) {
    .update-button {
      color: white;
      background-color: blue;
      border-width: 0px;
      border-radius: 5px;
      height: 30px;
      width: 70px;
      margin-right: 5px;
      cursor: pointer;
    }
  
    .delete-button {
      color: white;
      background-color: red;
      border-width: 0px;
      border-radius: 5px;
      height: 30px;
      width: 70px;
      margin-left: 5px;
      cursor: pointer;
    }
    .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media all and (max-width: 992px) {
    .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .delete-button {
      color: white;
      background-color: red;
      border-width: 0px;
      border-radius: 5px;
      height: 20px;
      width: 50px;
      margin-left: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }
    .update-button {
      color: white;
      background-color: blue;
      border-width: 0px;
      border-radius: 5px;
      height: 20px;
      width: 50px;
      margin-left: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      text-decoration: none;
    }
  }
  @media all and (max-width: 750px) {
    .delete-button {
      color: white;
      background-color: red;
      border-width: 0px;
      border-radius: 5px;
      height: 20px;
      width: 50px;
      margin-left: 5px;
      cursor: pointer;
    }
    .update-button {
      color: white;
      background-color: blue;
      border-width: 0px;
      border-radius: 5px;
      height: 20px;
      width: 50px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  
  @media all and (max-width: 992px) {
    .text {
      font-size: 13px;
    }
  }
  @media all and (max-width: 650px) {
    .text {
      font-size: 19px;
    }
    .delete-button {
      color: white;
      background-color: red;
      border-width: 0px;
      border-radius: 5px;
      height: 20px;
      width: 30px;
      cursor: pointer;
      font-size: 5px;
      margin-bottom: 10px;
    }
    .update-button {
      color: white;
      background-color: blue;
      border-width: 0px;
      border-radius: 5px;
      height: 20px;
      width: 30px;
      cursor: pointer;
      font-size: 5px;
      margin-bottom: 10px;
    }
    .flex {
      display: flex;
      margin: 0px;
      align-items: center;
      justify-content: center;
    }
  }
  @media all and (max-width: 500px) {
    .text {
      font-size: 5px;
    }
    .flex {
      display: flex;
      margin: 0px;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
    .delete-button {
      color: white;
      border-width: 0px;
      border-radius: 5px;
      background-color: red;
  
      cursor: pointer;
      font-size: 8px;
    }
    .update-button {
      color: white;
      border-width: 0px;
      background-color: blue;
      cursor: pointer;
      font-size: 8px;
      margin-top: 0px;
    }
  }
  
  @media all and (max-width: 400px) {
    .text {
      font-size: 5px;
    }
    .flex {
      display: flex;
      margin: 0px;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
    .delete-button {
      color: white;
      border-width: 0px;
      border-radius: 5px;
      background-color: red;
      width: 20px;
      height: 12px;
      cursor: pointer;
      font-size: 5px;
    }
    .update-button {
      color: white;
      border-width: 0px;
      background-color: blue;
      height: 12px;
      width: 20px;
      cursor: pointer;
      font-size: 5px;
      margin-top: 0px;
    }
  }
  